{% extends 'mailing/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5>-{{ object.datatime_last_attempt }}</h5>
                    <h5>-{{ object.attempt_status }}</h5>
                    <h5>-{{ object.mail_server_response }}</h5>
                </div>
                <div class="card-footer">
                    <a href="{% url 'mailinglog:mailinglogs' %}"
                       class="btn btn-sm btn-outline-primary">К списку сообщений</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}