{% extends 'mailing/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card text-bg-primary" style="max-width: 18rem">
            <h5 class="card-header">Авторизация</h5>
            <div class="crad-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Вход</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}